# Gradle
.gradle/
build/
**/build/

# Local config (SDK path, etc.)
local.properties

# IDE (Android Studio / IntelliJ)
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db

# Android Studio generated
captures/
.externalNativeBuild/
.cxx/

# Logs
*.log

# Keystore files (IMPORTANT for open source)
*.jks
*.keystore

# Google Services (if used)
google-services.json

# Firebase / Crashlytics (optional)
firebase.json

# NDK (optional)
obj/

# Manual
readme-files/